.jheader
	height: 100vh
	background-image: url(../img/header2.jpg)
	background-size: cover
	background-position: top center
	display: flex
	flex-direction: column
	justify-content: flex-start
	&__text
		color: white
		font-family: Russo One
		font-size: 3.3rem
		text-transform: uppercase
		margin-top: 20%
		span
			color: $white
	&__logo
