.jheader
	background-image: url(../img/header3.jpg)
	background-size: cover
	background-position: center center
	text-align: center
	&__wrap
		display: flex
		flex-direction: column
		justify-content: center
		height: 100%
		padding-top: 80px
		padding-bottom: 80px
	&__text
		color: white
		font-family: Russo One
		font-size: 3.3rem
		text-transform: uppercase
		span
			color: $white
	&__logo
