<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>RED</title>

  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="jk_site" ng-cloak>

  <div class="jpage">
    <nav class="navbar jpage__navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a href="#index" class="navbar-brand text-uppercase font-weight-bold text-danger" href="#" style="font-family: Russo One;"><span class="icon-bull" style="font-size: 22px"></span> red</a>  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#promotions">Акции</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutus">О нас</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Услуги</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#price">Прайс</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Тренеры / Персонал</a>
            </li> -->
            <li class="nav-item">
              <a href="#sporthall" class="nav-link">Спортзал</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">Контакты</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="btn btn-danger">Заказать звонок</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="background: repeating-linear-gradient(45deg,#ECB33A,#ECB33A 10px,black 10px,black 20px); height: 20px; position: fixed; width: 100%; top: 56px; z-index: 1"></div>

    <div class="jheader jpage__header" id="index">
      <div class="jheader__wrap container">
        <div class="jheader__logo">
          <img src="img/logo1.png">
        </div>
        <div class="jheader__text">
          меняйся с нами
        </div>
      </div>
    </div>

    <div class="jblock jblock_theme-primary jpage__block" id="promotions" ng-controller="PromotionsController">
      <div style="background-image: url(img/pattern.png); background-size: 500px">
        <div class="jblock__wrap container">
          <div class="jblock__title">Акции</div>
          <div class="jblock__content">
            <div class="jpromotions">
              <div class="jpromotions__info row">
                <div class="col-lg-8">
                  <div class="jpromotions__title">{{promotionSelected.promotion_name}} <span class="badge badge-success">new</span></div>
                  <div class="jpromotions__content">
                    <img src="{{promotionSelected.media_url}}" class="img-fluid float-left pr-3" style="width: 300px">
                    {{promotionSelected.promotion_description}}
                  </div>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-4">
                  <div class="jpromotions__title">Срок окончания акции</div>
                  <div class="jcounter jpromotions__counter">
                    <div class="row">
                      <div class="jcounter__item col-3">
                        <div class="jcounter__title">дни</div>
                        <span class="jcounter__days"></span>
                      </div>
                      <div class="jcounter__item col-3">
                        <div class="jcounter__title">часы</div>
                        <span class="jcounter__hours"></span>
                      </div>
                      <div class="jcounter__item col-3">
                        <div class="jcounter__title">мин</div>
                        <span class="jcounter__minutes"></span>
                      </div>
                      <div class="jcounter__item col-3">
                        <div class="jcounter__title">сек</div>
                        <span class="jcounter__seconds"></span>
                      </div>  
                    </div>
                  </div>
                  <div>
                    <a href="#contact" class="btn btn-danger w-100 mt-4 text-uppercase" style="font-family: Russo One">
                      <i class="fa fa-envelope"></i>
                      Отправить заявку
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <slick-promotion class="jcarousel js-jcarousel__promotions">

          <div class="jcarousel__item" ng-repeat="(key, promotion) in promotionList" ng-click="selectPromotion(key)" ng-cloak>
            <div class="jcard jcard_theme-promotion {{(selectedKey == key) ? 'jcard_theme-promotion-active' : ''}}">
              <div class="jcard__wrap">
                <div class="jcard__header">
                  <div class="jcard__title">
                    {{promotion.promotion_name}} <div class="badge badge-success">new</div>
                  </div>
                </div>
                <div class="jcard__content">
                  {{promotion.promotion_description}}
                </div>  
              </div>
            </div>
          </div>

        </slick-promotion>
      </div>
    </div>

    <div class="jblock jblock_theme-accent jpage__block" id="aboutus">
      <div class="jblock__wrap container">
        <div class="jblock__title">О нас</div>
        <div class="jblock__content row">
          <div class="col-md-9">
            <div>В жизни любого человека, периодически наступают сложности быть в гармонии с самим собой.</div>
            <div>происходит сбой в системе, психологические срывы! кто-то заедает это сладким, кто-то не замечая того срывается дома! А дома семья дети, дома нельзя!</div>
            <div>Поэтому каждому человеку необходимо быть на чеку, ведь в переди еще многое нужно успеть! А для этого есть обязанность быть здоровым и уверенным в себе и привлекательным в глазах окружающих!</div>
            <div>А что как не Здоровый Образ Жизни является базовым двигателем жизненного прогресса!</div>
            <br />
            <p><span class="text-uppercase font-weight-bold">РЭД - Это</span></p>
            <div>Тренажерный зал РЭД, другими словами наш Дом!Приглашает тех кто мечтает воплотить в жизнь собственные стремления и амбиции.</div>
            <div>В РЭД есть специальное оборудование и профессиональная команда тренеров, имеющих заслуги и достижения в спорте.</div>
            <div>Именно это позволит укрепить, и изменить тело людям даже со слабой физической подготовкой.</div>
            <br />
            <p><span class="text-uppercase font-weight-bold">Мотивашка!</span></p>
            <div>То что еще вчера было  мечтой!</div>
            <div>Сегодня является целью!</div>
            <div>Завтра станет реальностью!</div>
            <div>В РЭД индивидуальный подход к каждому!!!</div>
            <br />
            <p><span class="text-uppercase font-weight-bold">доп услуга</span></p>
            <div>Так же в нашем можно можно услугами ИК сауны, солярий и подкрепится вкусными а главное полезными спортивными коктейлями!</div>
            <div>В отличие от других фитнес-клубов Белгорода, РЭД является сравнительно небольшим центром, поэтому наши тренеры могут уделить должное внимание каждому клиенту. Клуб удобно расположен, имеет просторную парковку. Ждем вас в клубе РЭД, где по доступным ценам вы сможете добиться совершенного тела и гармонии с собой!</div>
          </div>
          <div class="col-md-3">
            <img src="img/logo.png" class="img-fluid"></img>
          </div>
        </div>
      </div>
    </div>

    <div class="jblock jblock_theme-primary jpage__block" id="services" ng-controller="ServicesController">
      <div class="jblock__wrap container">
        <div class="jblock__title">Услуги</div>
        <div class="jblock__content">

          <div class="jcollapse" ng-repeat="service in serviceList">
            <div class="jcollapse__wrap">
              <button class="btn btn-danger jcollapse__button" data-toggle="collapse" href="#collapse_service_{{service.id}}" aria-expanded="false">
                {{service.title}} <i class="fa fa-chevron-down"></i>
              </button>
              <div class="collapse jcollapse__content" id="collapse_service_{{service.id}}">
                <div ng-bind-html="trustAsHtml(service.content)"></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="jblock jblock_theme-primary jpage__block" id="price">
      <div style="background-image: url(img/pattern.png); background-size: 500px;">
        <div class="jblock__wrap container">
          <div class="jblock__title">Прайс</div>
          <div class="jblock__content">
            <div class="row">

              <div class="jcard col-md-4">
                <div class="jcard__wrap">
                  <div class="jcard__header" style="background-color: #212529; background-image: url(img/price_1.png);">
                    <div class="jcard__title">Базовый<br /> (пакет)</div>
                    <div class="jcard__price">1600 р. / мес.</div>
                  </div>
                  <div class="jcard__content">
                    <table class="table table-inverse">
                      <tr>
                        <td><i class="fa fa-calendar"></i></td>
                        <td>Дата: Пон - Субб</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-clock-o"></i></td>
                        <td>Время: 8:00 - 21:00</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-tint"></i></td>
                        <td>Душевая</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-life-ring"></i></td>
                        <td>Персональный тренер</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-glass"></i></td>
                        <td>Спортпит</td>
                      </tr>
                    </table>
                  </div>  
                </div>
              </div>

              <div class="jcard col-md-4">
                <div class="jcard__wrap">
                  <div class="jcard__header bg-warning" style="background-image: url(img/price_2.png);">
                    <div class="jcard__title">Стандарт.<br /> (пакет)</div>
                    <div class="jcard__price">6700 р. / 6 мес.</div>
                  </div>
                  <div class="jcard__content">
                    <table class="table table-inverse">
                      <tr>
                        <td><i class="fa fa-calendar"></i></td>
                        <td>Дата: Пон - Субб</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-clock-o"></i></td>
                        <td>Время: 8:00 - 21:00</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-tint"></i></td>
                        <td>Душевая</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-life-ring"></i></td>
                        <td>Персональный тренер</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-glass"></i></td>
                        <td>Спортпит</td>
                      </tr>
                    </table>
                  </div>  
                </div>
              </div>

              <div class="jcard col-md-4">
                <div class="jcard__wrap">
                  <div class="jcard__header bg-danger" style="background-image: url(img/price_3.png);">
                    <div class="jcard__title">Проф.<br /> (пакет)</div>
                    <div class="jcard__price">9000 р. / 12 мес.</div>
                  </div>
                  <div class="jcard__content">
                    <table class="table table-inverse">
                      <tr>
                        <td><i class="fa fa-calendar"></i></td>
                        <td>Дата: Пон - Субб</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-clock-o"></i></td>
                        <td>Время: 8:00 - 21:00</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-tint"></i></td>
                        <td>Душевая</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-life-ring"></i></td>
                        <td>Персональный тренер</td>
                      </tr>
                      <tr>
                        <td><i class="fa fa-glass"></i></td>
                        <td>Спортпит</td>
                      </tr>
                    </table>
                  </div>  
                </div>
              </div>

              <div class="jcollapse col-12">
                <div class="jcollapse__wrap">
                  <button class="btn btn-danger jcollapse__button" data-toggle="collapse" href="#collapse_price" aria-expanded="false">
                    больше информации <i class="fa fa-chevron-down"></i>
                  </button>
                  <div class="collapse jcollapse__content" id="collapse_price">
                    <div>В соотношении "цена-качество" тренажерный зал | фитнес-клуб РЭД предлагает лучший прайс на 2017 г.&nbsp;</div>
                    
                    <div><b><font color="#ff0000">КЛУБНЫЕ КАРТЫ:</font></b></div>
                    
                    <div><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Тренажерный зал безлимит</b></div>
                    <div><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (с 08:00 до 22:30)</b></div>
                    
                    <div> 
                      <ul> 
                        <li style="text-align: justify;">12 мес.&nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp; &nbsp;</span>11 000 рублей;</li>
                        <li style="text-align: justify;">6 мес.&nbsp; &nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp;&nbsp;</span>&nbsp;8 700 рублей;</li>
                        <li style="text-align: justify;">3 мес.&nbsp; &nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp; &nbsp;&nbsp;</span>6 700 рублей;</li>
                        <li style="text-align: justify;">1 мес.&nbsp; &nbsp;&nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp; &nbsp;</span>2 000 рублей;</li>
                        <li style="text-align: justify;">8 занят.&nbsp;&nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp;&nbsp;</span>1 600 рублей;</li>
                      </ul>
                      <div style="text-align: justify;"> 
                        <div style="text-align: start;"><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</b></div>
                        <div style="text-align: start;"><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;Дневной тренажерный зал</b></div>
                        <div style="text-align: start;"><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (с 08:00 до 17:00)</b></div>
                        <div style="text-align: start;"><b> 
                            <br>
                           </b></div>
                        <div style="text-align: start;"> 
                          <ul> 
                            <li style="text-align: justify;">12 мес.&nbsp;&nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp;&nbsp;</span>9 000 рублей;</li>
                            <li style="text-align: justify;">6 мес.&nbsp; &nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp;&nbsp;</span>&nbsp;6 700 рублей;</li>
                            <li style="text-align: justify;">3 мес.&nbsp; &nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp; &nbsp;</span>3 700 рублей;</li>
                            <li style="text-align: justify;">1 мес.&nbsp; &nbsp;&nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp;</span>&nbsp;1 600 рублей;</li>
                            <li style="text-align: justify;">8 занят.&nbsp;&nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp;&nbsp;</span>1 200 рублей;</li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    
                    <div><b><font color="#ff0000">ПЕРСОНАЛЬНЫЙ ТРЕНИНГ:</font></b></div>
                    
                    <div><b> Кол-во ПТ&nbsp; &nbsp; &nbsp;Скидка&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Сумма&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Стоимость за 1 ПТ</b></div>
                    
                    <div> 
                      <div>1&nbsp; ПТ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 700 руб.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;700 руб.&nbsp;</div>
                      <div>3&nbsp; ПТ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;10%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1 800 руб.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 600 руб.&nbsp;</div>
                      <div>6&nbsp; ПТ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;16%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2 900 руб.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;680 руб.&nbsp;</div>
                      <div>10 ПТ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 20%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 6 600 руб.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;660 руб.&nbsp;</div>
                      <div>16 ПТ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 26%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 7 800 руб.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;620 руб.</div>
                      <div>20 ПТ&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 30%&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 9 800 руб.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;490 руб.</div>
                      <div> 
                        <br>
                       </div>
                      <div> 
                        <br>
                       </div>
                      <div><b> 
                          <br>
                         </b></div>
                      <div><b>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ:</b></div>
                      <div> 
                        <br>
                       </div>
                      <div> 
                        <div>Студентам и школьникам до 17 лет - 1 200 руб./мес, с 8:00 - 18:00</div>
                        <div> 
                          <br>
                         </div>
                        <div>Абонемент выходного дня - 700 руб.</div>
                        <div> 
                          <br>
                         </div>
                        <div>Разовое занятие в тренажерном зале - 200 руб. до 17:00</div>
                        <div> 
                          <br>
                         </div>
                        <div>1 персональная тренировка - 700 руб.</div>
                        <div> 
                          <br>
                         </div>
                        <div>1 СПЛИТ тренировка - 900 руб.</div>
                        <div> 
                          <br>
                         </div>
                        <div>Годовой абонемент с 8:00 - 13:00 - 6 000 руб.</div>
                        <div> 
                          <br>
                         </div>
                        <div>Утеря абонемента (замена на новый) - 30 руб.&nbsp;</div>
                        <div style="font-weight: bold;"> 
                          <br>
                        </div>
                      </div>
                    </div>

                    
                    <div><b>Выгодное КОМПЛЕКСНОЕ предложение на персональный тренинг:</b></div>
                    
                    <div> 
                      <ul> 
                        <li>1 человек&nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">-/span><span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp;</span>700 рублей;</li>
                       
                        <li>2 человека (СПЛИТ)&nbsp;<span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">-/span><span style="font-family: tahoma, arial, verdana, sans-serif, &quot;Lucida Sans&quot;; font-size: 11px; line-height: 16.94px; ">&nbsp;</span>900 рублей за обоих;</li>
                      </ul>
                    </div>

                    
                    <div><b>СОЛЯРИЙ</b></div>
                    
                    <div>
                      <div>1 минута - 14 руб.</div>
                      <div>Абонемент на 50 мин. - 500 руб.</div>
                      <div>Абонемент на 70 мин. - 650 руб.</div>
                      <div>стикини 1 шт. - 20 руб.</div>
                      <div>шапочка 1 шт. - 15 руб.</div>
                      <div>коврик 1 шт. - 10 руб.&nbsp;</div>
                      <div style="font-weight: bold;">
                        <br>
                      </div>
                    </div>

                    
                    <div>Подробнее о ВСЕХ наших АКЦИЯХ и выгодных предложениях, читайте в разделе <a href="#promotions" class="text-danger font-weight-bold">АКЦИИ</a>.</div>
                    

                  </div>  
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="jblock jblock_theme-accent jpage__block" id="sporthall" ng-controller="MediaController">
      <div class="jblock__wrap container">
        <div class="jblock__title">Спортзал</div>
        <div class="jblock__content">
          <div class="jmedia">
            <div class="jmedia__item" ng-repeat="media in media.sporthall.stack track by $index">
              <div class="jmedia__wrap">
                <div class="jmedia__image" style="background-image: url({{media.media_url}});" ng-click="openPortfolioImage(media)">
                  <i class="fa fa-search-plus jmedia__icon"></i>
                </div>
              </div>
            </div>
            <div class="jmedia__backdrop"></div>
            <button class="btn btn-danger w-100 text-uppercase" style="background: #c82333;" ng-click="addImage()">
              <i class="fa fa-eye"></i>
              Остальные ...
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="jblock jblock_theme-primary jpage__block">
      <iframe
        width="100%"
        height="500px"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJNwtr-txBJkERRG2iz2mjQYs&key=AIzaSyCH0CCjoCd_mPd3T6u5GsS_KWrOD3_YDVU" allowfullscreen>
      </iframe>  
    </div>

    <div class="jblock jblock_theme-primary jpage__block" id="contact">
      <div class="jblock__wrap container">
        <div class="jblock__title">Контакты</div>
        <div class="jblock__content">
          <div class="jfooter row">

            <div class="jfooter__contact col-md-6">
              <div class="jcontact h-100">
                <div class="jcontact__item">
                  <div class="jcontact__element">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="jcontact__element">
                    info@club-red.ru
                  </div>
                </div>
                <div class="jcontact__item">
                  <div class="jcontact__element">
                    <i class="fa fa-phone"></i>
                  </div>
                  <div class="jcontact__element">
                    (4722) 735-575
                  </div>
                </div>
                <div class="jcontact__item">
                  <div class="jcontact__element">
                    <i class="fa fa-map"></i>
                  </div>
                  <div class="jcontact__element">
                    Фитнес клуб РЭД, Славянская улица, 15, Белгород, Белгородская область, Россия
                  </div>
                </div>  
              </div>
            </div>

            <div class="jfeedback jfooter__feedback col-md-6 mt-4 mt-md-0">
              <div class="jfeedback__row">
                <input type="text" class="jfeedback__input" placeholder="Ваше имя...">
                <input type="text" class="jfeedback__input" placeholder="Ваш e-mail...">
              </div>
              <div class="jfeedback__row">
                <input type="text" class="jfeedback__input" placeholder="Телефон...">
              </div>
              <div class="jfeedback__row">
                <textarea class="jfeedback__input" rows="4" placeholder="Ваше сообщение..."></textarea>
              </div>
              <div class="jfeedback__row">
                <button class="btn btn-danger w-100 text-uppercase" style="font-family: Russo One">
                  <i class="fa fa-envelope"></i>
                  Отправить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <iframe
        width="100%"
        height="500px"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJNwtr-txBJkERRG2iz2mjQYs&key=AIzaSyCH0CCjoCd_mPd3T6u5GsS_KWrOD3_YDVU" allowfullscreen>
      </iframe> -->

    </div>

  </div>
  

  <script src="js/libs.min.js"></script>
  <script src="js/custom.js"></script>
</body>
</html>